extends layout

block content
  h1= title
  p Welcome to S3 Client
  p List of Buckets
  
  table
    tr
        td Name
        td View
    each bucket in buckets
        tr
            td= bucket.Name
            td #[a(href='/#{bucket.Name}') View]
  form(action="/", method="post")
    label(for="name") Name:
    input#name.form-control(type='text',placeholder='Nombre del bucket' ,name="name")
    button(type="submit") Enviar